<div id="<%= dom_id coin %>">
  <p>
    <strong>Symbol:</strong>
    <%= coin.symbol %>
  </p>

  <p>
    <strong>Show symbol:</strong>
    <%= coin.show_symbol %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= coin.name %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= coin.rank %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= coin.price %>
  </p>

  <p>
    <strong>Market cap:</strong>
    <%= coin.market_cap %>
  </p>

  <p>
    <strong>Volume 24h:</strong>
    <%= coin.volume_24h %>
  </p>

  <p>
    <strong>Delta 24h:</strong>
    <%= coin.delta_24h %>
  </p>

  <p>
    <strong>Total volume 24h:</strong>
    <%= coin.total_volume_24h %>
  </p>

  <p>
    <strong>Low 24h:</strong>
    <%= coin.low_24h %>
  </p>

  <p>
    <strong>High 24h:</strong>
    <%= coin.high_24h %>
  </p>

  <p>
    <strong>Delta 1h:</strong>
    <%= coin.delta_1h %>
  </p>

  <p>
    <strong>Delta 7d:</strong>
    <%= coin.delta_7d %>
  </p>

  <p>
    <strong>Delta 30d:</strong>
    <%= coin.delta_30d %>
  </p>

</div>
