<%= form_with(model: coin) do |form| %>
  <% if coin.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(coin.errors.count, "error") %> prohibited this coin from being saved:</h2>

      <ul>
        <% coin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :symbol, style: "display: block" %>
    <%= form.text_field :symbol %>
  </div>

  <div>
    <%= form.label :show_symbol, style: "display: block" %>
    <%= form.text_field :show_symbol %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :rank, style: "display: block" %>
    <%= form.number_field :rank %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :market_cap, style: "display: block" %>
    <%= form.text_field :market_cap %>
  </div>

  <div>
    <%= form.label :volume_24h, style: "display: block" %>
    <%= form.text_field :volume_24h %>
  </div>

  <div>
    <%= form.label :delta_24h, style: "display: block" %>
    <%= form.text_field :delta_24h %>
  </div>

  <div>
    <%= form.label :total_volume_24h, style: "display: block" %>
    <%= form.text_field :total_volume_24h %>
  </div>

  <div>
    <%= form.label :low_24h, style: "display: block" %>
    <%= form.text_field :low_24h %>
  </div>

  <div>
    <%= form.label :high_24h, style: "display: block" %>
    <%= form.text_field :high_24h %>
  </div>

  <div>
    <%= form.label :delta_1h, style: "display: block" %>
    <%= form.text_field :delta_1h %>
  </div>

  <div>
    <%= form.label :delta_7d, style: "display: block" %>
    <%= form.text_field :delta_7d %>
  </div>

  <div>
    <%= form.label :delta_30d, style: "display: block" %>
    <%= form.text_field :delta_30d %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
